




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@200;300;400;500;600&display=swap');

/* Colores */
:root {
    --main-background-color: #0d1b2a;
    --primary-color: #d1cf3b;
    --secondary-color: #ffffff;
    --text-color: #cdcdcd;
    --navbar-bg-color: #ecf0f3;
    --navbar-text-color: #8d99ae;
    --navbar-text-hover-color: #ffffff;
    --link-color: #5abc41;
    --heading-color: #bcb221;
    --card-bg-color: rgb(153, 136, 110);
    --badge-bg-color: #bc212167;
    --badge_01-bg-color: #e55b6667;
    --badge_02-bg-color: #8b21bc67;
    --badge_03-bg-color: #a07a7f67;
    --button-bg-color: #859e61;
    --button-hover-bg-color: #66a54994;
    --footer-bg-color: #011027;
    --article-bg-color: #475d8b;
}

/* Reset de márgenes para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: var(--main-background-color);
    overflow: hidden;
}

.Container span.text {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

.Container span.text.first-text {
    color: var(--secondary-color);
}

.boxMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

span.text.sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-background-color);
    border-left: 2px solid aqua;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

nav {
    background-color: var(--navbar-bg-color);
}

nav div.container-fluid {
    margin-left: 4%;
    margin-right: 4%;
}

h3 {
    color: var(--heading-color);
}

h4 {
    color: var(--secondary-color);
}

.navContainer {
    justify-content: flex-end;
}

/* Cambia el color de los elementos de la lista en la barra de navegación */
.navbar-nav li.nav-item a.nav-link {
    color: var(--navbar-text-color);
}

.navbar-nav li.nav-item a.tickets {
    color: var(--link-color);
}

/* Cambia el color de los elementos de la lista cuando se les hace hover (puntero encima) */
.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--navbar-text-hover-color);
}

/* Banner */
div.banner-div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;

    /* Pseudo-elemento para aplicar el filtro de color */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

div.textBanner {
    margin-top: 2rem;
    margin-right: 4%;
    width: 50em;
    height: 50%;
    position: relative;
    z-index: 2;
    color: var(--text-color);
    text-align: right;
    padding: 20px;
    background-color: transparent;
}

/* Cards */
div.bgCard {
    background-color: var(--card-bg-color);
}

/* Neumorphism styles */
div.card,
div.card img,
.social-icons a,
.badge {
    border: none;
    background: var(--navbar-bg-color);
    border-radius: 30px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.badge {
    margin: 5px;
    color: var(--navbar-bg-color);
    background: var(--badge-bg-color);
}

.badge_01 {
    margin: 5px;
    border-radius: 20px;
    color: var(--navbar-bg-color);
    background: var(--badge_01-bg-color);
}

.badge_02 {
    margin: 5px;
    border-radius: 20px;
    color: var(--navbar-bg-color);
    background: var(--badge_02-bg-color);
}

.badge_03 {
    margin: 5px;
    border-radius: 20px;
    color: var(--navbar-bg-color);
    background: var(--badge_03-bg-color);
}

div.card {
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 15px 0 25px 0;
}

.social-icons a {
    height: 40px;
    width: 40px;
    display: inline-flex;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    position: relative;
}

.social-icons a:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--navbar-bg-color);
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.social-icons a i {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    position: relative;
    z-index: 5;
}

.social-icons a.lk i {
    color: #4267B2;
}

.social-icons a.x i {
    color: #212529;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #c1121f;
}

div.card img {
    border-radius: 50%;
}

div.speakersSetion {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 5rem 0;
    background: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.speakersCards {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-content: space-around;
}

/* 2do Banner */
div.articleSection {
    display: flex;
}

div.article_setion_01 {
    background-image: url('../img/parque3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: 50vh;
}

div.article_setion_02 {
    width: 50%;
    color: var(--text-color);
    background-color: var(--article-bg-color);
}

/* Form */
div.boxText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div button.btnSend {
    border: none;
    padding: 1rem;
    color: var(--secondary-color);
    background-color: var(--button-bg-color);
}

div button.btnSend:hover {
    border: none;
    padding: 1rem;
    background-color: var(--button-hover-bg-color);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-bg-color);
}

footer div.containerFooter {
    width: 80%;
}

footer ul.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 767px) {
    div.banner-div {
        justify-content: center;
        align-items: flex-start;
    }

    div.textBanner {
        justify-content: center;
        align-items: center;
        margin: 7rem auto;
        width: 25rem;
        height: 20rem;
    }

    div.textBanner {
        color: var(--text-color);
        text-align: center;
        background-color: transparent;
    }

    div.articleSection {
        display: block;
    }

    div.article_setion_01 {
        width: 100%;
    }

    div.article_setion_02 {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer ul.navbar-nav {
        display: block;
    }
}